<div class="container">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button
      class="btn btn-dark"
      style="margin-top: 1%"
      type="button"
      routerLink="/courses/add"
    >
      + Add Course
    </button>
  </div>
  <div style="display: flex">
    <!-- height: 640px;-->
    <div
      class="card"
      style="
        margin: 10px;
        width: 380px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px 2px #888888;
      "
      *ngFor="let course of courses"
    >
      <h5 class="card-header">
        {{ course.name }}
      </h5>
      <div class="card-body">
        <p class="card-text">{{ course.description }}</p>
        <div class="text-end">
          <a
            href="#"
            class="btn btn-primary"
            style="margin: 5px"
            routerLink="/courses/classes"
            [queryParams]="{ courseId: course.id }"
            >Ver lista de clases</a
          >
          <a
            href="#"
            class="btn btn-primary"
            style="margin: 5px"            
            >Ver lista de alumnos</a
          >
        </div>
        <div class="text-end">
          <a href="#" class="btn btn-danger" style="margin: 5px">Delete</a>
          <a
            href="#"
            class="btn btn-primary"
            style="margin: 5px"
            routerLink="/courses/update"
            [queryParams]="{ courseId: course.id }"
            >Edit</a
          >
        </div>
        <div class="card-footer">
          {{ course.beginDate | slice: 0:7 }} -
          {{ course.endDate | slice: 0:7 }}
        </div>
      </div>
    </div>
  </div>
</div>
